# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Cucumber Test

on:
  push:
    branches: [ seed ]
  pull_request:
    branches: [ seed ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test-file:
          - features/another_test.feature
          - features/is_it_friday_yet.feature
    outputs:
      reporturl: ${{ steps.reporturl.outputs.url }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
    # uses: ruby/setup-ruby@v1
      uses: ruby/setup-ruby@21351ecc0a7c196081abca5dc55b08f085efe09a
      with:
        ruby-version: 2.6
    - name: Install dependencies
      run: bundle install
    - name: Run tests
      run: cucumber ${{ matrix['test-file'] }} --format html > "reports/cucumber-test-report.html"
    - name: Run tests with JSON output
      run: cucumber --format json > "reports/cucumber-report.json"
    - uses: deblockt/cucumber-report-annotations-action@v1.7
      with:
        access-token: ${{ secrets.GITHUB_TOKEN }}
        path: "reports/cucumber-report.json"
    - run: ls -ltr reports
    - uses: actions/upload-artifact@v2
      with:
        name: report
        path: reports/*-report.html
    - id: reporturl
      name: Set Report URL
      run: echo "::set-output name=url::https://github-actions-logs.s3.amazonaws.com/cucumber-test-report.html"
  publish:
    runs-on: ubuntu-latest
    environment:
      name: reports
      url: https://github-actions-logs.s3.amazonaws.com/cucumber-test-report.html
    needs: test  
    steps:
    - run: echo "${{needs.test.outputs.reportur}}"
    - uses: actions/download-artifact@v2
      with:
        name: report
        path: reports/
    - uses: jakejarvis/s3-sync-action@master
      with: 
        args: --acl public-read
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: 'us-east-1'
        SOURCE_DIR: 'reports'      # optional: defaults to entire repository
